server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=X-User-Id
        - RemoveRequestHeader=X-User-Email
        - RemoveRequestHeader=X-User-Role
      routes:
        - id: user-private
          uri: http://user-service:8081
          predicates:
            - Path=/v1/users/**
          filters:
            - AuthenticationFilter

        - id: auth-public
          uri: http://user-service:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/auth/login
                  - /v1/auth/register
                  - /v1/auth/token/refresh
                  - /v1/auth/email-verification/request
                  - /v1/auth/email-verification
                  - /v1/auth/password-reset/request
                  - /v1/auth/password-reset
                  - /v1/oauth2/callback/*

        - id: auth-private
          uri: http://user-service:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/auth/logout
                  - /v1/auth/password
                  - /v1/auth/social-links
                  - /v1/auth/social-links/*
                  - /v1/oauth2/authorization/*
          filters:
            - AuthenticationFilter

        - id: image-private
          uri: http://image-service:8082
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/images/**
                  - "!/v1/images/upload"
          filters:
            - AuthenticationFilter

jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    flipnote.apigateway: INFO
