spring:
  cloud:
    gateway:
      routes:
        - id: user-private
          uri: http://localhost:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/users/me
                  - /v1/users/{userId}
                  - /v1/users
          filters:
            - AuthenticationFilter

        - id: auth-public
          uri: http://localhost:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/auth/login
                  - /v1/auth/register
                  - /v1/auth/token/refresh
                  - /v1/auth/email-verification/request
                  - /v1/auth/email-verification
                  - /v1/auth/password-reset/request
                  - /v1/auth/password-reset
                  - /v1/oauth2/callback/*

        - id: auth-private
          uri: http://localhost:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/auth/logout
                  - /v1/auth/password
                  - /v1/auth/social-links
                  - /v1/auth/social-links/*
                  - /v1/oauth2/authorization/*
                  - /v1/oauth2/links/*

          filters:
            - AuthenticationFilter

        - id: reaction-private
          uri: http://localhost:8083
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/likes/{targetType}/{targetId}
                  - /v1/likes/{targetType}
                  - /v1/bookmarks/{targetType}/{targetId}
                  - /v1/bookmarks/{targetType}
          filters:
            - AuthenticationFilter

app:
  user-service:
    url: http://localhost:8081
