spring:
  cloud:
    gateway:
      routes:
        - id: user-private
          uri: http://localhost:8081
          predicates:
            - Path=/v1/users/**
          filters:
            - AuthenticationFilter

        - id: auth-public
          uri: http://localhost:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/auth/login
                  - /v1/auth/register
                  - /v1/auth/token/refresh
                  - /v1/auth/email-verification/request
                  - /v1/auth/email-verification
                  - /v1/auth/password-reset/request
                  - /v1/auth/password-reset
                  - /v1/oauth2/callback/*

        - id: auth-private
          uri: http://localhost:8081
          predicates:
            - name: Path
              args:
                patterns:
                  - /v1/auth/logout
                  - /v1/auth/password
                  - /v1/auth/social-links
                  - /v1/auth/social-links/*
                  - /v1/oauth2/authorization/*
          filters:
            - AuthenticationFilter

jwt:
  secret: "55ca298dcfc216e215622e3f48a251abaa4e8bb973074f065ab170e311acc15811d01a2407290c3ac143648196306d4a6f666a4ed364d3df633e08eb184bb0aea0f2edde4fd2d7fa68ea95ddbc421ff532ce47bde775975911042d665bc22d88a9fa26a03bb4d25530b8cdeb1247d87c9e3efcd721e368b0566b00a43308a729"
